@using COMP2007_Assignment2.Models
@model IEnumerable<MenuItem>

@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}

@{
    ViewBag.Title = "Menu";
}

<div class="container">
    <h2>Menu</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>


    <table class="table table-responsive table-striped table-hover">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href='@Url.Action("Details", "MenuItems", new { id = item.ID })'>
                        <img src="~/Assets/thumbs/@item.ItemThumbnail" />
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>